.card {
  align-items: center;
  border-radius: var(--border-radius-8) var(--border-radius-8);
  box-shadow: 0 2rem 4rem hsla(212, 23%, 69%, 0.4);
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
  height: clamp(10rem, 54.5vw, 18rem);
  object-fit: cover;
  width: 100%;
}

.content {
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-32) 0;
  padding: var(--space-36) var(--space-32) var(--space-20);
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-12) 0;
}

.header-title {
  color: var(--very-dark-grayish-blue);
  font-size: var(--font-size-16);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-0_2);
  line-height: 1.4;
}

.header-text {
  color: var(--grayish-blue);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-0_1);
  line-height: 1.55;
}

.footer,
.author {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.author {
  gap: 0 var(--space-16);
}

.author-image {
  border-radius: 50%;
  height: 2.5rem;
  object-fit: cover;
  width: 2.5rem;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.author-name {
  color: var(--desaturated-dark-blue);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-0_1);
  line-height: var(--line-height-100);
}

.author-date {
  color: var(--grayish-blue);
  font-weight: 700;
  line-height: var(--line-height-100);
}

.share-button {
  align-items: center;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

@media screen and (min-width: 48.75em) {
  .card {
    display: grid;
    grid-template-columns: 17.875rem 27.875rem;
    max-width: 45.75rem;
    overflow: hidden;
  }

  .image {
    border-radius: var(--border-radius-8) 0 0 var(--border-radius-8);
    height: 100%;
    object-position: -10px;
  }

  .content {
    border-radius: 0 var(--border-radius-8) var(--border-radius-8) 0;
    gap: var(--space-20) 0;
    padding: var(--space-32) var(--space-40) var(--space-32) var(--space-32);
  }

  .header-title {
    font-size: var(--font-size-20);
  }

  .header-text {
    color: var(--grayish-blue);
    font-weight: 500;
    letter-spacing: var(--letter-spacing-0_1);
    line-height: 1.55;
  }
}
