#root {
  background-color: var(--light-grayish-blue);
  display: flex;
  font-family: var(--font-name);
  font-size: var(--font-size-13);
  max-width: 1280px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0 var(--space-24);
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  width: 100%;
}
