#root {
  display: flex;
  font-family: var(--font-name);
  font-size: var(--font-size-13);
  max-width: 1280px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0 var(--space-24);
  text-align: center;
}

@media screen and (min-width: 45.75rem) {
  #root {
    padding: 0 5rem;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  overflow: visible;
  width: 100%;
}
